@model SitefinityWebApp.Mvc.ViewModels.LaunchViewModel

<div class="jumbotron">
    @if (Model != null)
    {
    <h1>@Model.MissionName</h1>
    <p>@Model.Details</p>
    }
    else
    {
        <h1>There are no schedule flights at this time.</h1>
        <p>Please check back later!</p>
    }
</div>