<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7323.0">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add allowAccessToAllScopes="True" clientName="sitefinity" config:flags="1">
					<redirectUris>
						<add redirectUri="http://localhost:4200/assets/auth/silent-renew.html" />
						<add redirectUri="http://localhost:4200/auth/oidc/sign-in" />
						<add redirectUri="http://quantum-headless.sitefinity.site/assets/auth/silent-renew.html" />
						<add redirectUri="http://quantum-headless.sitefinity.site/auth/oidc/sign-in" />
					</redirectUris>
					<postLogoutRedirectUris>
						<add redirectUri="http://localhost:4200/auth/oidc/sign-out" />
						<add redirectUri="http://quantum-headless.sitefinity.site/auth/oidc/sign-out" />
					</postLogoutRedirectUris>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="http://localhost:4200" />
						<add allowedCorsOrigin="http://quantum-headless.sitefinity.site" />
					</allowedCorsOrigins>
				</add>
				<add clientId="testApp" enabled="True" flow="ResourceOwner" allowAccessToAllScopes="True" clientName="testApp">
					<clientSecrets>
						<add clientSecret="secret" />
					</clientSecrets>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="http://localhost:1234" />
					</allowedCorsOrigins>
				</add>
				<add clientId="sso_client_dummy_client_id" clientName="sso_client_dummy" />
				<add clientId="yet_another_sso_dummy_client_id" clientName="yet_another_sso_dummy_client" />
			</identityServerClients>
			<scopes>
				<add scopeType="Resource" name="offline_access" />
			</scopes>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>