<?xml version="1.0" encoding="utf-8"?>
<listsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7323.0">
	<contentViewControls>
		<contentViewControl definitionName="ItemsBackend" config:flags="1">
			<views>
				<config:lazy key="ListsBackendEditItem" configFile="ListsConfig.contentViewControls.ItemsBackend.views.ListsBackendEditItem.config" configSource="FileSystem" />
			</views>
		</contentViewControl>
	</contentViewControls>
</listsConfig>