<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7323.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add access="Anonymous" accessControlAllowOrigin="*" urlName="default" config:flags="1" />
				<add name="Locations" access="Anonymous" urlName="locations">
					<types>
						<add urlName="locations" clrType="Telerik.Sitefinity.DynamicTypes.Model.Locations.Location" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="albums" clrType="Telerik.Sitefinity.Libraries.Model.Album">
							<propertyMappings>
								<add AllowFilter="False" AllowSort="False" Name="LastModified" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="PublicationDate" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Title" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Description" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="DateCreated" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="UrlName" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="MaxSize" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="MaxItemSize" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="BlobStorageProvider" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="OutputCacheProfile" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="ClientCacheProfile" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="CoverId" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="ResizeOnUpload" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="NewSize" config:flags="1" />
							</propertyMappings>
						</add>
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<add AllowFilter="False" AllowSort="False" Name="LastModified" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="PublicationDate" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Title" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Description" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="DateCreated" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Ordinal" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="UrlName" config:flags="1" />
								<add AllowFilter="False" Name="Tags" config:flags="1" />
								<add AllowFilter="False" Name="Category" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Width" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Height" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="AlternativeText" config:flags="1" />
							</propertyMappings>
						</add>
					</types>
				</add>
				<add name="Quantum Mobile" access="Anonymous" accessControlAllowOrigin="http://angular.localtest.me/news" autogenerateTypes="True" urlName="quantum-mobile">
					<types>
						<remove clrType="Telerik.Sitefinity.Events.Model.Event" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Calendar" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Image" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Video" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.VideoLibrary" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.List" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.ListItem" />
						<remove clrType="Telerik.Sitefinity.GenericContent.Model.ContentItem" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<add clrType="Telerik.Sitefinity.News.Model.NewsItem" config:flags="1">
							<propertyMappings>
								<add ResolverType="Telerik.Sitefinity.Modules.Libraries.Web.Services.Extensibility.RelatedMediaUrlProperty" fieldName="Thumbnail" absolute="true" Name="RelatedMedia" type:this="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
						</add>
						<add access="Authenticated" clrType="Telerik.Sitefinity.Libraries.Model.Document" config:flags="1" />
						<add urlName="hierarchy-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<add urlName="flat-taxa" clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<add urlName="taxonomies" clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<add urlName="albums" clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
				<add name="All Content" access="Anonymous" autogenerateTypes="True" urlName="all-content" />
				<add name="Demo Web Service" autogenerateTypes="True" urlName="demo-web-service">
					<types>
						<remove clrType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
						<remove clrType="Telerik.Sitefinity.Blogs.Model.Blog" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Event" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Calendar" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Image" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Document" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
					</types>
				</add>
				<add name="Featured Articles" access="Anonymous" accessControlAllowOrigin="http://localhost:1234" urlName="featured-articles">
					<types>
						<add urlName="newsitems" clrType="Telerik.Sitefinity.News.Model.NewsItem" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="Provider" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
								<remove Name="IncludeInSitemap" />
								<remove Name="Tags" />
								<remove Name="OpenGraphTitle" />
								<remove Name="topics" />
								<remove Name="OpenGraphImage" />
								<remove Name="OpenGraphDescription" />
								<remove Name="Featured" />
								<remove Name="AllowComments" />
								<remove Name="Comments" />
								<remove Name="Summary" />
								<remove Name="Content" />
								<remove Name="Author" />
								<remove Name="SourceName" />
								<remove Name="SourceSite" />
								<add PersistentName="LastModified" ReadOnly="True" Name="LastModified" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Web.Services.Extensibility.ProviderNameProperty" SelectedByDefault="False" Name="Provider" type:this="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="PublicationDate" Name="PublicationDate" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="DateCreated" ReadOnly="True" Name="DateCreated" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="IncludeInSitemap" AllowFilter="False" AllowSort="False" Name="IncludeInSitemap" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Tags" AllowSort="False" SelectedByDefault="False" Name="Tags" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="OpenGraphTitle" Name="OpenGraphTitle" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="topics" AllowSort="False" SelectedByDefault="False" Name="topics" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="OpenGraphImage" Name="OpenGraphImage" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="OpenGraphDescription" Name="OpenGraphDescription" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Featured" Name="Featured" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="AllowComments" AllowFilter="False" AllowSort="False" Name="AllowComments" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add ResolverType="Telerik.Sitefinity.Services.Comments.CommentProperty" SelectedByDefault="False" Name="Comments" type:this="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Summary" Name="Summary" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Content" Name="Content" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="Author" Name="Author" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="SourceName" Name="SourceName" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
								<add PersistentName="SourceSite" Name="SourceSite" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
							<methods>
								<add QueryString="$expand=Thumbnail&amp;$count=true&amp;$top=3" Name="top" />
							</methods>
						</add>
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
					</types>
				</add>
			</services>
		</add>
		<add name="Sitefinity" config:flags="1">
			<services>
				<add accessControlAllowOrigin="*" urlName="system" config:flags="1" />
			</services>
		</add>
	</Routes>
</webServicesConfig>