.user-wrapper *{
    transition: all linear 0.2s;
}

.user-wrapper ul{
    width:100%;
    list-style: none;
    max-height: 50vh;
    overflow-y: scroll;
    border-bottom:1px solid #eee;
}

.user-wrapper li{
    width:100%;
    padding:15px;
    border-top:1px solid #eee;
    display: flex;
    align-items: center;
    cursor:pointer;
}

.user-wrapper li:hover{
    background-color: #f5f5f5;
}

.user-wrapper li.active{
    background-color: #DCECF5;
}

.user-wrapper p{
    margin:0 20px;
    width:50%;
    text-align: left;
}